input:invalid {
    box-shadow: 0 0 5px 1px;
    outline: none;
  }

#main-container {
    background-color: whitesmoke;
    display: flex;
    width: 100%;
    overflow: auto;
    left: 0px;
    top: 0px;
    font-size: 20px;
    font-family: sans-serif;
    border: 1px solid black;
    justify-content: center;
    align-content: center;
    
  }

  #subscribe-area {
    border: 1px solid yellow;
   align-self: center;
  
}
 
#header-logo {
    border: 1px solid blue;
    width: 100%;
    
}

#nav-bar {
    border: 1px solid red;
    float: right;
    margin-right: 60px;
}

#customer-section {
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
}

.nav-link {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.list-style {
    display: flex;
    list-style: none;
}

#demo {
    display: flex;
    justify-content: center;    
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-left: 6px;
   
  }
   
  #form {
      align-self: center;
      width: 200px;
  }

  #submit-button {
    display: flex;
    height: 30px;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
  }